<footer>
        <div>
            <p>This is a fake site! You cannot really apply for Jobs here. Sorry.</p>
            <p>This Rails Tutorial is based on
                <a href="http://curriculum.railsbridge.org/job-board/job-board">Jobboard</a> by Railsbridge and
                <a href="https://cloudfour.com/thinks/first-css-grid-layout/">First Grid Layout</a> by Tyler Sticka.</p>
        </div>
    </footer>