<h1>Add a job</h1>
<%= render "form" %>

<div class="sidebar">
  <div>
    <h2>Best Practices</h2>

    <p>Here are some hints from Maxwell Huppert
      about <a href="https://business.linkedin.com/talent-solutions/blog/job-descriptions/2018/5-must-dos-for-writing-inclusive-job-descriptions">writing inclusive job descriptions</a></p>

    <h3>Avoid gender-coded words</h3>

    <p> Studies show that gender-coded words (like  “rockstar,” “ninja,” and “dominate”) can significantly reduce the number of women applying to your open positions, even though this type of bias is usually unconscious.</p>

    <p>To make your job descriptions more inclusive, start by taking gendered words out of your job titles and replacing them with more straightforward titles, like “developer”. These titles may have less flair, but they’re also more inclusive and less likely to turn off candidates who feel they don’t fit the image you’re putting out.</p>

    <h3>Limit your job requirements to “must-haves”</h3>

    <p>You might have an unending list of qualifications in mind, but it’s important to trim the list down. Studies show that while men are likely to apply to jobs for which they meet only 60% of the qualifications, women are much more likely to hesitate unless they meet 100% of the listed requirements.</p>

    <p>If you’d still like to call out certain desired skills, you can soften the message with language like “familiarity with,” “bonus points for,” or “if you have any combination of these skills.”</p>

    <h3>Avoid using unnecessary jargon</h3>

    <p>Studies show jargon and corporate language in job postings is one of the biggest barriers keeping talented young people from applying to entry-level positions. These subtle word choices can make some candidates feel unqualified for a position that they’re absolutely qualified for.</p>

    <p><a href="https://business.linkedin.com/talent-solutions/blog/job-descriptions/2018/5-must-dos-for-writing-inclusive-job-descriptions">read the full article here</a>
    </p>

  </div>

</div>